@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
    * {
        scroll-behavior: smooth;
    }

    body {
        font-family: "Noto Serif", serif;
    }

    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }

    header nav ul::-webkit-scrollbar {
        display: none;
    }

    
}