@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
    * {
        scroll-behavior: smooth;
        box-sizing: border-box;
    }

    body {
        font-family: "Noto Serif", serif;
        transition: color 1s;
    }

    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }

    header nav ul::-webkit-scrollbar {
        display: none;
    }




}